.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  .content {
    width: 60%;
    height: 60%;
    max-width: 600px;
    max-height: 600px;
    @media (max-width: 768px) {
      width: 90%;
      max-height: 80%;
    }
    .logo {
      width: 180px;
      display: block;
      margin:0 auto;
      margin-bottom: 50px;
      @media (max-width: 768px) {
        width: 150px;
      }
    }
  }
}
